<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Value [PLN]</th>
        <th>Percent</th>
        <th>Unit price</th>
        <th>Price [PLN]</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>BTC</td>
        <td>0.0001</td>
    </tr>
    <tr>
        <td>2</td>
        <td>ETH</td>
        <td>3</td>
    </tr>
    <tr>
        <td>3</td>
        <td>DOT</td>
        <td>100</td>
    </tr>
    </tbody>
</table>
