<div>
    @if (btcChartOptions) {
        <apx-chart #btcChart
                   [series]="btcChartOptions.series"
                   [chart]="btcChartOptions.chart"
                   [xaxis]="btcChartOptions.xaxis"
                   [yaxis]="btcChartOptions.yaxis"
                   [title]="btcChartOptions.title"
                   [dataLabels]="btcChartOptions.dataLabels"
                   [stroke]="btcChartOptions.stroke"
                   [tooltip]="btcChartOptions.tooltip"
        ></apx-chart>
    }
</div>
<div>
    @if (ethChartOptions) {
        <apx-chart #ethChart
                   [series]="ethChartOptions.series"
                   [chart]="ethChartOptions.chart"
                   [xaxis]="ethChartOptions.xaxis"
                   [yaxis]="ethChartOptions.yaxis"
                   [title]="ethChartOptions.title"
                   [dataLabels]="ethChartOptions.dataLabels"
                   [stroke]="ethChartOptions.stroke"
                   [tooltip]="ethChartOptions.tooltip"
        ></apx-chart>
    }
</div>
<div>
    @if (dotChartOptions) {
        <apx-chart #dotChart
                   [series]="dotChartOptions.series"
                   [chart]="dotChartOptions.chart"
                   [xaxis]="dotChartOptions.xaxis"
                   [yaxis]="dotChartOptions.yaxis"
                   [title]="dotChartOptions.title"
                   [dataLabels]="dotChartOptions.dataLabels"
                   [stroke]="dotChartOptions.stroke"
                   [tooltip]="dotChartOptions.tooltip"
        ></apx-chart>
    }
</div>
