<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Value [PLN]</th>
        <th>Percent</th>
        <th>Unit price [PLN]</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>USD</td>
        <td>2,000</td>
        <td>7,247.23 PLN</td>
        <td>34%</td>
        <td>3.62 PLN</td>
    </tr>
    <tr>
        <td>2</td>
        <td>PLN</td>
        <td>10,470</td>
        <td>10,470 PLN</td>
        <td>49%</td>
        <td>1.00 PLN</td>
    </tr>
    <tr>
        <td>3</td>
        <td>USDC</td>
        <td>998</td>
        <td>3,616.10 PLN</td>
        <td>17%</td>
        <td>3.62 PLN</td>
    </tr>
    </tbody>
</table>

