<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Value [PLN]</th>
        <th>Percent</th>
        <th>Unit price</th>
        <th>Price [PLN]</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>VUAA.UK (Vanguard S&P500) Acc USD</td>
        <td>77.7405</td>
        <td>36,600</td>
        <td>98</td>
        <td>129 USD</td>
        <td>467 PLN</td>
    </tr>
    <tr>
        <td>2</td>
        <td>CNDX.UK (Nasdaq100) Acc USD</td>
        <td>0.168</td>
        <td>871</td>
        <td>2</td>
        <td>1430 USD</td>
        <td>5,185 PLN</td>
    </tr>
    </tbody>
</table>
