<div class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Crypto</p>
            <p class="title">{{overview.crypto.value}} {{overview.crypto.currency}}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Stocks</p>
            <p class="title">{{overview.stocks.value}} {{overview.stocks.currency}}</p>
        </div>
    </div>
</div>
<hr>
<div>
    <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [title]="chartOptions.title"
    ></apx-chart>
</div>

