<div class="columns is-multiline">

    <div class="column is-4">
        <div class="card-content">
            <div class="title">
                Crypto
            </div>
            <div class="sub-title">
                1234
            </div>
        </div>
    </div>

    <div class="column is-4">
        <div class="card-content">
            <div class="title">
                Stocks
            </div>
            <div class="sub-title">
                1234
            </div>
        </div>
    </div>

    <div class="column is-4">
        <div class="card-content">
            <div class="title">
                Bonds
            </div>
            <div class="sub-title">
                1234
            </div>
        </div>
    </div>

    <div class="column is-4">
        <div class="card-content">
            <div class="title">
                IKE
            </div>
            <div class="sub-title">
                1234
            </div>
        </div>
    </div>

    <div class="column is-4">
        <div class="card-content">
            <div class="title">
                Gold
            </div>
            <div class="sub-title">
                1234
            </div>
        </div>
    </div>

    <div class="column is-4">
        <div class="card-content">
            <div class="title">
                Cash
            </div>
            <div class="sub-title">
                1234
            </div>
        </div>
    </div>
</div>
